<!-- https://stackoverflow.com/questions/18672452/left-align-and-right-align-within-div-in-bootstrap -->
<div class="col-md-10 col-md-offset-1">

	<div class="card m-0 p-0">
		<div class="card-header" style="background-color: #eae5ea">
			<div class="row" ng-include="'templates/user-mgmt/item-header.html'" 12ui-view="item-header">
			</div>
		</div>
		<!-- end of card-header -->
		<div class="card-body m-0 p-0 pr-0 pb-0 pl-0">
			<div class="row" ui-view="item-content"></div>
		</div>
		<!-- end of card-body -->
		<div class="card-footer" align="center">
			<div class="row">
				<div class="col col-xs-6" aria-label="Page navigation example">
					<ul class="pagination hidden-xs pull-right justify-content-end">
						<li class="page-item disabled"><a class="page-link" href="#"
							tabindex="-1">Previous</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item active"><a class="page-link" href="#">2
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end of card-footer -->
	</div>
	<!-- end of card -->

</div>
